# compile files
*CMakeFiles/
CMakeCache.txt
*Makefile
*.cmake
*Encrypted_Database/

# generated keys
*.crt
*root_CA/
*homomorphic_keys/
*Files/
*.keys
*.key
*.csr

# executables
admin
client1
server

.vscode/settings.json
*vscode/
